{{ define "main" }}
<main>
  <dl class="attributes">
    {{ with .Params.status }}
      <dt>Status</dt><dd>{{ i18n . }}</dd>
    {{ end }}
    {{ if .Params.dtstart }}
      <dt>{{ i18n "duration" }}</dt><dd>{{.Params.dtstart}} -- {{.Params.dtend}}</dd>
    {{ end }}
    {{ with .Params.partners }}
    {{ $partnersPage := site.GetPage "partners" }}
      <dt>{{ i18n "partners" }}</dt>
      <dd class="partners">
      {{ range . }}
          {{ $partnerPage := $partnersPage.GetPage . }}
          {{ $image := $partnerPage.Resources.GetMatch "logo.*" }}
          <img src="{{ $image.Permalink }}" alt="{{ $partnerPage.Title }}">
      {{ end }}
      </dd>
    {{ end }}
    {{ $events := site.GetPage "events" }}
    {{ $key := path.Base $.Path }}
    {{ $related := where $events.RegularPages "Params.project" $key }}
    {{ with $related }}
      <dt>Events</dt>
      {{ range . }}
        <dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
      {{ end }}
    {{ end }}
  </dl>
  <section>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ with .Params.images }}
    <section>
      <h2>Gallery</h2>
      <div class="gallery">
        {{ range . }}
        {{ $image := $.Resources.Get . }}
        <img src="{{ $image.Permalink }}" alt="{{ . }}">
        {{ end }}
      </div>
    </section>
    {{ end }}
  </section>
</main>
{{ end }}