{{ define "scripts" }}
<link rel="stylesheet" href="/dependencies/photoswipe/photoswipe.css"/>
<script type="module">
  import PhotoSwipeLightbox from '/dependencies/photoswipe/photoswipe-lightbox.esm.min.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('/dependencies/photoswipe/photoswipe.esm.min.js')
  });
  lightbox.init();
  </script>
  <script src='{{ (resources.Get "utility.js").Permalink }}'></script>
{{ end }}
{{ define "main" }}
<main id="project" class="detail">
  <section>
    <h1>{{ .Title }}</h1>
    <section class="timeline">
      <time datetime='{{ .Params.dtstart }}'>
        {{ .Params.dtstart | dateFormat "2 Jan 2006" }}</time>
      -
      <time datetime='{{ .Params.dtend }}'>
        {{ .Params.dtend | dateFormat "2 Jan 2006" }}</time>
      ·
      <span class="status" data-archived='{{ i18n "finished" }}' data-active='{{ i18n "ongoing" }}'></span>
    </section>
    {{ .Content }}
    {{ $events := site.GetPage "events" }}
    {{ $key := path.Base $.Path }}
    {{ $related := where $events.RegularPages "Params.project" $key }}
    {{ with $related }}
      <section id="linked-events">
      <h2>{{ i18n "linked_events" }}</h2>
      <ul class="column cards">
        {{ range . }}
          <li><article class="column">
            <time datetime="{{ .Params.dtstart }}">
              {{ partial "inline-svg" "icons/calendar" }}{{ .Params.dtstart | dateFormat "2 Jan 2006" }}</time>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          </article></li>
        {{ end }}
      </ul>
      </section>
    {{ end }}
    {{ $news := site.GetPage "news" }}
    {{ $key := path.Base $.Path }}
    {{ $related := where $news.RegularPages "Params.project" $key }}
    {{ with $related }}
      <section id="linked-news">
      <h2>{{ i18n "linked_news" }}</h2>
      <ul class="column cards">
        {{ range . }}
          <li><article class="column">
            <time datetime='{{ .Date | dateFormat "2006-01-02" }}'>
              {{ partial "inline-svg" "icons/notebook-pen" }}{{ .Date | dateFormat "2 Jan 2006" }}</time>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          </article></li>
        {{ end }}
      </ul>
      </section>
    {{ end }}
    {{ with .Params.images }}
      <section>
        <h2>Gallery</h2>
        <div id="gallery">
          {{ range . }}
          {{ $image := $.Resources.Get . }}
          <a href="{{ $image.RelPermalink }}"
          data-pswp-width="{{ $image.Width }}"
          data-pswp-height="{{ $image.Height }}">
            <img src="{{ $image.RelPermalink }}" alt="{{ . }}">
          </a>
          {{ end }}
        </div>
      </section>
    {{ end }}
  </section>
  <section id="project-partners" class="side-panel">
    <h2>{{ i18n "partners" }}</h2>
    {{ $partnersPage := site.GetPage "partners" }}
    {{ with .Params.partner }}
      {{ $partnerPage := $partnersPage.GetPage . }}
      {{ $image := $partnerPage.Resources.Get $partnerPage.Params.image }}
    <img class="partner-logo" src="{{ $image.Permalink }}" alt="Logo of {{ $partnerPage.Title }}">
    {{ end }}
    {{ with .Params.supporters }}
    <ul id="logos">
      {{ range . }}
        {{ $partnerPage := $partnersPage.GetPage . }}
        {{ $image := $partnerPage.Resources.GetMatch $partnerPage.Params.image }}
        <li><img class="partner-logo" src="{{ $image.Permalink }}" alt="Logo of {{ $partnerPage.Title }}"></li>
      {{ end }}
    </ul>
    {{ end }}
  </section>
</main>
{{ end }}
{{ define "inline-scripts" }}
<script>
    window.updatePageStatusTag();
</script>
{{ end }}
