<article>
  <header>
    <div class="status-tag"></div>
    <div class="timeline">
      <time datetime='{{ .Params.dtstart }}'>
        {{ .Params.dtstart | dateFormat "2 Jan 2006" }}</time>
      -
      <time datetime='{{ .Params.dtend }}'>
        {{ .Params.dtend | dateFormat "2 Jan 2006" }}</time>
    </div>
  </header>
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ with .Params.partner }}
    {{ $partnersPage := site.GetPage "partners" }}
    {{ $partnerPage := $partnersPage.GetPage . }}
    <footer>{{ $partnerPage.Title }}</footer>
  {{ end }}
</article>
