<article class="card">
  <a class="card-title" href="{{ .RelPermalink }}">   
    <h2>{{ .Title }}</h2>
  </a>
  <dl class="attributes">
    {{ with .Params.status }}
      <dt>Status</dt><dd>{{ i18n . }}</dd>
    {{ end }}
    {{ if .Params.start_date }}
      <dt>{{ i18n "duration" }}</dt><dd>{{.Params.start_date}} -- {{.Params.end_date}}</dd>
    {{ end }}
    {{ with .Params.partners }}
      <dt>{{ i18n "partners" }}</dt>  
      {{ range . }}
        <dd>{{ . }}</dd>
      {{ end }}
    {{ end }}
  </dl>
  {{ .Summary }}
</article>