<article>
  {{ $photo := .Resources.Get .Params.image }}
  <div class="front">
    {{ with $photo.Fill "520x640 center lanczos" }}
      <img src='{{ .RelPermalink }}' alt="Portrait of {{ .Title }}"/>
    {{ end }}
    <div class="overlay">
      <h2>{{ .Title }}</h2>
      <h3>{{ .Params.position }}</h3>
      <a>{{ i18n "bio" }} {{ partial "inline-svg" "icons/arrow-right" }}</a>
    </div>
  </div>
  <div class="back">
    <h2>{{ .Title }}</h2>
    <h3>{{ .Params.position }}</h3>
    {{ .Content }}
    <a href="mailto:{{ .Params.contact }}">{{ partial "inline-svg" "icons/mail" }}{{ .Params.contact }}</a>
  </div>
</article>
