<article>
  {{ $photo := .Resources.Get .Params.image }}
  {{ $name := .Title }}
  <div class="front">
    {{ with $photo }}
      {{ if and (gt .Width 1040) (gt .Height 1280) }}
        {{ $small := .Fill "520x640 center lanczos" }}
        {{ $large := .Fill "1040x1280 center lanczos" }}
        <img src="{{ $small.RelPermalink }}" srcset="{{ $small.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x" alt="Portrait of {{ $name }}">
      {{ else }}
        {{ with .Fill "520x640 center lanczos" }}
        <img src="{{ .RelPermalink }}" alt="Portrait of {{ $name }}">
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="overlay">
      <h2>{{ .Title }}</h2>
      <h3>{{ .Params.position }}</h3>
      <a>{{ i18n "bio" }} {{ partial "inline-svg" "icons/arrow-right" }}</a>
    </div>
  </div>
  <div class="back">
    <h2>{{ .Title }}</h2>
    <h3>{{ .Params.position }}</h3>
    <div class="content">{{ .Content }}</div>
    <a href="mailto:{{ .Params.contact }}">{{ partial "inline-svg" "icons/mail" }}{{ .Params.contact }}</a>
  </div>
</article>
