{{ define "main" }}
<main id="event-news">
    {{ with (site.GetPage "events").RegularPages }}
    <section id="events">
      <h2>{{ i18n "events" }}</h2>
      <div class="card-grid">
        {{ range . }}
            {{ .Render "view_event" }}
        {{ end }}
      </div>
    </section>
    {{ end }}
    
    {{ with (site.GetPage "news").RegularPages }}
    <section id="news">
      <h2>{{ i18n "news" }}</h2>
      <div class="card-grid">
        {{ range . }}
            {{ .Render "view_news" }}
        {{ end }}
      </div>
    </section>
    {{ end }}
</main>
{{ end }}