<article class='news news-{{ .Params.category }}'>
  <header>
    <div class="news-tag">{{ .Params.category | strings.FirstUpper }}</div>
    <time datetime='{{ .Date | dateFormat "2006-01-02" }}'>{{ .Date | dateFormat "2 Jan 2006" }}</time>
    {{ with .Params.project }}
    {{ $project := (site.GetPage "projects").GetPage . }}
      <a href='{{ $project.RelPermalink }}'>
        {{ partial "inline-svg" "icons/briefcase" }}{{ $project.Title }}</a>
    {{ end }}
    {{ if .Params.resources }}
      {{ partial "inline-svg" "icons/paperclip" }}
    {{ end }}
  </header>
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ .Summary }}
</article>
