:root {
  --color-bg: white;
  --color-bg-light: #F5F5F5;
  --color-red: #F37C14;
  --color-orange: #FFB33D;
  --color-teal: #229FA3;
  --color-blue: #548FEB;
  --color-text: #1A1A1A;
  --color-text-light: #6B6B6B;


  --color-red-bg: color-mix(in srgb, var(--color-red) 10%, transparent);
  --color-orange-bg: color-mix(in srgb, var(--color-orange) 10%, transparent);
  --color-teal-bg: color-mix(in srgb, var(--color-teal) 10%, transparent);
  --color-blue-bg: color-mix(in srgb, var(--color-blue) 10%, transparent);
  
  --content-width: 80rem;
  --icon-dim-small: 1rem;
  --icon-dim-mid: 1.25rem;
  --icon-dim-big: 1.75rem;

  --brand-dim: 1.875rem;

  --min-inline-padding: 1.5rem;
  --content-inline-padding: max(var(--min-inline-padding), calc(50% - var(--content-width) / 2));

  --medium-gap: 1rem;
  --wide-gap: calc(var(--medium-gap) * 3 / 2);
  --big-gap: calc(var(--medium-gap) * 2);
  --tight-gap: calc(var(--medium-gap) * 3 / 4);
  --separator-gap: calc(var(--medium-gap) / 2);
}

/* colors {#548feb;#ffb33d;#f37c14;#229fa3;}*/

/* || GENERAL */
html {
  font-family: "Hanken Grotesk", sans-serif;
  /* font-size: clamp(1rem, 0.8rem + 0.8vw, 1.5rem); */
  height: 100%;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  & > header,
  & > main,
  & > footer,
  & > section.page-header {
    padding-inline: var(--content-inline-padding);
  }

  & > header + * {
    border-top: thin solid var(--color-teal);
  }

  /* I need some space before footer, but some elements have background. So their box needs to stretch up to the footer.
    TODO: Maybe specify specific elements later? */
  & > main > *:last-child {
    padding-block-end: 8rem;
  }

  & > section.page-header {
    padding-block: 15rem 2.5rem;
    
    h1 {
      margin: 0;
      font-size: 3rem;
    }
  }
}

nav {
  a {
    text-decoration: none;
  }
}

menu, ul.buttons {
  list-style: none inside;
  margin-block: 0;
  padding: 0;

  a {
    display: block;
    color: var(--color-text);
  }
}

section > header {
  margin-block: 3rem;
  text-align: center;

  h1 {
    margin-block: 0;
    font-weight: normal;
  }
}

img,
picture,
video, svg {
  max-width: 100%;
  display: block;
}

address {
  font-style: normal;
}

dd {
  margin-inline-start: 0;
}

.logo {
  display: block;
  height: 2.5rem;
}
 
svg.socials {
  height: var(--brand-dim);
  width: var(--brand-dim);
  padding: calc(2rem - var(--brand-dim) / 2);
  border-radius: .75rem;
  color: var(--color-text-light);
  background: var(--color-bg-light);
}

#site-header, #site-footer {
  border-top: 6px solid;
  border-image: linear-gradient(
    to right,
    var(--color-red) 0 25%,
    var(--color-orange) 25% 50%,
    var(--color-teal) 50% 75%,
    var(--color-blue) 75% 100%
  ) 1;
}

/* || HEADER + NAVIGATION */
#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-block: 1.25rem;
}

#menu-toggle {
  & > input {
    display: none;
  }

  svg line {
    stroke: #000;
    stroke-width: 3;
    transition: transform 0.3s;
    transform-origin: center;
  }

  & > input:checked ~ svg .top {
    transform: rotate(45deg) translateY(10px);
  }

  & > input:checked ~ svg .mid {
    opacity: 0;
  }

  & > input:checked ~ svg .bot {
    transform: rotate(-45deg) translateY(-10px);
  }

  &:has(input:checked) ~ #nav-panel {
    height: 100vh;
  }
}

#nav-panel {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  background: var(--color-bg);
  transition: all 0.5s ease-out;
  z-index: 1;
  overflow-y: auto;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);

  a {
    padding: var(--separator-gap) var(--medium-gap);
    color: var(--color-text);
  }
}

#site-nav {
  padding: 0 var(--medium-gap);

  a {
    border-bottom: 1px solid var(--color-text);
    svg {
      display: none;
    }
  }

  li > menu {
    padding-inline-start: 2.5rem;
  }
}

/* || Language Switcher */
#lang-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1.6px solid var(--color-teal);
  width: fit-content;
  padding: 0;
  margin-inline: auto;

  a {
    border-radius: 50px;
    color: var(--color-teal);
    font-weight: 700;
  }

  a.active, a:hover {
    background: var(--color-teal);
    color: var(--color-bg);
  }
}

/* || FOOTER */
#site-footer {
  padding-block-start: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--wide-gap);
  color: var(--color-text);
  
  h4 {
    margin: 0;
    font-weight: 600;
  }

  .logo {
    height: 4rem;
  }

  #footer-content, #footer-links, #footer-contacts {
    display: flex;
    flex-direction: column;
    gap: var(--wide-gap);
  }

  #footer-socials {
    display: flex;
    gap: var(--tight-gap);
  }
  
  #footer-links {
    menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: var(--medium-gap);
    }

    a {
      background-color: var(--color-bg-light);
      padding: var(--medium-gap);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: var(--separator-gap);

      svg {
        height: var(--icon-dim-mid);
        width: var(--icon-dim-mid);
      }
    }
  }

  #footer-contacts {
    menu {
      display: flex;
      flex-direction: column;
      gap: var(--medium-gap)
    }

    li:nth-child(3n + 1) svg {
      --icon-color: var(--color-teal);
    }
    li:nth-child(3n + 2) svg {
      --icon-color: var(--color-blue);
    }
    li:nth-child(3n + 3) svg {
      --icon-color: var(--color-red);
    }
    
    a {
      color: var(--color-text-light);
      display: flex;
      align-items: center;
      gap: var(--tight-gap);

      svg {
        height: var(--icon-dim-small);
        width: var(--icon-dim-small);
        padding: var(--separator-gap);
        border-radius: 35%;
        color: var(--icon-color);
        background-color: color-mix(in srgb, var(--icon-color) 10%, transparent);
      }
    }
  }
  
  #footer-copyright {
    text-align: center;
    border-top: 1px solid var(--color-text-light);
    font-size: .5rem;
    color: var(--color-text-light);
    margin-block-end: 0;
  }
}

#cta {
  border-color: var(--color-red);
  background: linear-gradient(90deg, var(--color-red) 0%, rgba(255, 179, 61, 0.62) 100%);
  color: var(--color-bg);
}


.button, ul.buttons a {
  display: block;
  width: fit-content;
  padding: var(--medium-gap) var(--big-gap);
  text-decoration: none;
  border-radius: 2rem;
  border: 1.6px solid #E5E7EB;
  color: var(--color-text);
}

/* || HOME PAGE */
#home {
  line-height: 1.625;
  color: var(--color-text-light);
  
  /* Padding on homepage is specific because of overflowing cards*/
  padding-inline: 0; /* reset site-wide setting */
  & > section {
    padding-inline-start: var(--wide-gap);

    & > header{
      padding-inline-end: 1.5rem;
    }
  }

  p {
    margin-block: 0;
  }

  h1, dt {
    color: var(--color-text);
  }
}

#about {
  padding-block: 4rem;
  padding-inline: var(--wide-gap);

  display: grid;
  gap: var(--wide-gap);
  
  background-image: url("/bg-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  #featured {
    text-align: center;
    color: var(--color-text);
    font-size: 1.375rem;
  }

  #hero {
    grid-row: 2;
    height: 25rem;
    object-fit: cover;
    border-radius: 1.25rem;
  }

  menu {
    display: flex;
    justify-content: center;
    gap: var(--separator-gap);

    #cta {
      display: flex;
      align-items: center;
      gap: var(--separator-gap);

      svg {
        width: var(--icon-dim-mid);
        height: var(--icon-dim-mid);
      }
    }
  }
}

#activities {
  padding-inline-start: var(--wide-gap);
  .card {
    position: relative;
    background: var(--color-bg);
    overflow: hidden;

    .content {
      padding: var(--big-gap);
    }

    dt {
      margin-block-end: var(--medium-gap);
      font-size: 1.5rem;
    }

    &:nth-child(1) > .icon {
      background-color: var(--color-red);
    }

    &:nth-child(2) > .icon {
      background-color: var(--color-teal);
    }

    &:nth-child(3) > .icon {
      background-color: var(--color-blue);
    }

    &:nth-child(4) > .icon {
      background-color: var(--color-orange);
    }
  }

  div.icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    padding: var(--medium-gap);
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    color: var(--color-bg);

    svg {
      width: var(--icon-dim-mid);
      height: var(--icon-dim-mid);
    }
  }
}

#actions {
  a {
    text-decoration: none;
    background: var(--color-bg);
    border-radius: .75rem;
    padding: var(--medium-gap) 0;
    text-align: center;
    font-weight: 600;
    color: var(--color-text);
    box-shadow: 0 6px 18px rgba(15, 23, 42, 0.06);
    transition: transform 0.14s ease, box-shadow 0.14s ease;
    display: block;
    /* the boxes should be aligned, remove for baseline */
    box-sizing: border-box;
    height: 100%;
  }

  a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 26px rgba(15, 23, 42, 0.08);
  }
}

#socials{
  h3 {
    color: var(--color-text);
    font-weight: normal;
    font-size: 1.25rem;
    margin-block: var(--wide-gap) var(--separator-gap);
  }
  li:nth-child(3n + 1) {
    --card-color: var(--color-red);
  }
  li:nth-child(3n + 2) {
    --card-color: var(--color-teal);
  }
  li:nth-child(3n + 3) {
    --card-color: var(--color-blue);
  }
  a {
    padding: var(--big-gap);
    border: 1.6px solid var(--card-color);
    border-radius: 1rem;
    background: var(--color-bg);

    scroll-snap-align: start;
  }

  .socials {
    color: var(--card-color);
    background-color: color-mix(in srgb, var(--card-color) 10%, transparent);
  }

  p {
    color: var(--color-text-light);
  }

  p:last-child {
    color: var(--card-color);
    margin-block-start: var(--medium-gap);
    display: flex;
    align-items: center;

    svg {
      height: var(--icon-dim-small);
      width: var(--icon-dim-small);
    }
  }
}

#stay-connected {
  background-image: url("/bg-bot.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* || Contact */
#contacts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--medium-gap);
  margin: 0;
  padding: 0;
  font-style: normal;
  /* if inside <address> */

  & > div {
    background: #f8f8f8;
    border-radius: 0.75rem;
    padding: var(--medium-gap);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
    opacity: 0.85;
  }
}

/* || CARD GRID */
.card-grid {
  display: grid;
  gap: var(--big-gap);
  grid-template-columns: 1fr;
}

.card {
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
  /* padding: 1rem;  TODO*/
}

.card-title {
  color: var(--color-text);
}

#projects-title{
  background: linear-gradient(.25turn, var(--color-orange), 30%, var(--color-bg-light), 60%, var(--color-blue))
}

#projects {

  .card {
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--separator-gap);

    background-color: #EAEAEA;
  }

  .attributes {
    display: flex;
    gap: var(--medium-gap);
    align-items: center;
  }

  .status {
    background-color: #B2B2B2;
    padding: var(--separator-gap) 1.25rem;
    border-radius: 2.5rem;
  }
  .dates {
    flex: 1;
  }
  .card-title {
    flex: 1;
  }
}

#project {
  & > h1 {
    font-size: 3.5rem;
    font-weight: normal;
  }

  & > .attributes {
    padding: 2.5rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(34, 159, 163, 0.08) 0%, rgba(84, 143, 235, 0.08) 100%);

    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    gap: var(--big-gap);

    dt {
      font-weight: 500;
      text-transform: uppercase;
      margin-block-end: var(--separator-gap);
    }

    .partner-logo {
      width: 10rem;
      height: auto;
      background-color: var(--color-bg);
    }
  }

  & > p {
    font-size: 1.125rem;
  }
}

/* || PARTNERS PAGE */
#partners {
  .card {
    padding: var(--wide-gap);

    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: auto;
      object-fit: scale-down;
      object-position: center;
    }

    a {
      font-size: 1.5rem;
    }
  }
}
/* || TEAM PAGE */
#team {
  display: grid;
  grid-template-columns: 1fr;
}

.member {
  text-align: center;
}

.member > img {
  width: 150px;
  height: 150px;
  border-radius: 40%;
  margin: 0 auto 1rem;
  object-fit: cover;
}

/* || JOIN US */
#join-us-header, #join-us {
  color: var(--color-text-light);
  h1 {
    color: var(--color-text);
  }
  p {
    font-size: 1.25rem;
  }
}
#join-us-header, #join-events{
  text-align: center;
  p {
    margin: auto;
    width: 60%;
  }
}

#join-us-header {
  font-size: 1.5rem;
}

main#join-us > section {
  padding-block: 6rem;
}

#join-volunteer {
  --section-color: var(--color-teal);
  display: flex;
  gap: 3rem;

  img {
    width: 50%;
  }

  .button, ul.buttons a{
    background-color: var(--section-color);
    color: var(--color-bg);
  }

  #tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: var(--separator-gap);
    padding-inline-start: 0;

    li {
      padding: var(--separator-gap) var(--tight-gap);
      color: var(--section-color);
      background-color: color-mix(in srgb, var(--section-color) 10%, transparent);
      border-radius: 3rem;
    }
  }
}

#join-partners {
  --section-color: var(--color-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  dl {
    margin-block: 0;

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: var(--wide-gap);
  }

  .buttons {
    display: flex;
    gap: var(--big-gap);

    a {
      color: var(--color-bg);
      background-color: var(--section-color);
    }
  }

  .dl-item {
    padding: var(--big-gap);
    display: flex;
    flex-direction: column;
    gap: var(--separator-gap);
    align-items: center;

    text-align: center;

    dt {
      font-size: 1.25rem;
      color: var(--color-text);
    }

    div.icon { /*TODO remove icon class from svg and style purely with class*/
      color: var(--section-color);
      background-color: color-mix(in srgb, var(--section-color) 10%, transparent);
      border-radius: 50%;
      padding: var(--medium-gap);

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

#join-donate{
  --section-color: var(--color-orange);
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 1fr 1fr;

  dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dl-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "icon term"
    "icon def";
    column-gap: var(--medium-gap);
    align-items: start;

    div.icon {
      grid-area: icon;
      color: var(--section-color);
      background-color: color-mix(in srgb, var(--section-color) 10%, transparent);
      border-radius: 50%;
      padding: var(--medium-gap);

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
    dt {
      grid-area: term;
    }
    dd {
      grid-area: def;
    }
  }
}
/* || Dynamic pages */

.gallery {
  display: grid;
  gap: var(--separator-gap);
  grid-template-columns: repeat(6, 1fr);

  img {
    aspect-ratio: 3/2;
    object-fit: cover;
  }
}

/* || Utility */
.scroll-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  gap: var(--medium-gap);
  overflow-x: auto;
  padding-block-end: var(--medium-gap);
  scroll-snap-type: x mandatory;
  
  & > * {
    min-width: 0;
    scroll-snap-align: start;
  }
}

/* ============================================     Tablet (768px+)     ============================================ */
@media (min-width: 768px) {
  #home {
    line-height: 2;
    padding-inline: 0;

    & > section:nth-child(odd){
      padding-inline: var(--content-inline-padding);
    }
    
    & > section:nth-child(even){
      padding-inline: max(var(--min-inline-padding), var(--content-inline-padding) - 2rem);
    }
  }

  #about {
    padding-block: 7.5rem;
    gap: var(--tight-gap) 5rem;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "featured image"
      "text image"  
      "links image";
    align-items: center;
  
    #hero {
      grid-area: image;
      height: 40rem;
    }

    p {
      font-size: 1.25rem;
    }

    #featured {
      text-align: revert;
      font-size: 2rem;
      line-height: initial;
    }

    menu {
      justify-content: start;
      gap: var(--big-gap);

      a {
        padding: 0 var(--big-gap);
      }
    }
  }

  #activities {
    dt {
      font-size: 2rem;
    }
  }

  #site-footer {
    display: grid;
    grid-template-columns: var(--big-gap) 1fr 1fr 1fr var(--big-gap);
    grid-template-rows: auto auto;
    grid-template-areas:
      ". logo links contact ."
      ". logo links contact ."
      ". copyright copyright copyright .";

    #footer-content{
      grid-area: logo;
    }
    
    #footer-links {
      grid-area: links;
    }

    #footer-contacts{
      grid-area: contact;
    }
    
    #footer-copyright {
      grid-area: copyright;
      text-align: revert;
    }
  }
  
  #contacts-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #projects .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #partners.card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ============================================     Desktop (1024px+)     ============================================ */
@media (min-width: 1024px) {
  #activities .scroll-row {
    gap: var(--medium-gap) var(--big-gap); 
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;

    .card > img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
    }
  }

  #socials .scroll-row {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #join-partners .scroll-row {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #menu-toggle {
    display: none;
  }

  #nav-panel {
    position: revert;
    background: revert;
    height: revert;
    flex-direction: row;
    gap: 8.75rem;
  }

  #site-nav {
    padding: 0;
    display: flex;
    gap: .25rem;
    font-size: revert;

    li > menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 0px;
    }

    a {
      border: revert;

      &:has(svg) {
        display: flex;
        align-items: center;
      }

      svg {
        display: block;
        height: var(--icon-dim-small);
        width: var(--icon-dim-small);
      }
    }

    li:has(menu):hover > menu {
      display: block;
    }
    li:has(menu):hover svg {
      transform: rotate(90deg);
    }
  }

  .card-grid {
    gap: var(--medium-gap) var(--big-gap);
  }

  #events .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #special.card { /*TODO zisti kedy a replace special */
    /* For hover effect to have space to float.*/
    margin-block: var(--separator-gap);

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }
  /* Hover effect and space to hover. Grids have smaller gaps to accomodate. */
  }
}