:root {
  --color-bg: white;
  --color-bg-light: #F5F5F5;
  --color-red: #F37C14;
  --color-orange: #FFB33D;
  --color-teal: #229FA3;
  --color-blue: #548FEB;
  --color-text: #1A1A1A;
  --color-text-light: #6B6B6B;


  --color-red-bg: color-mix(in srgb, var(--color-red) 10%, transparent);
  --color-orange-bg: color-mix(in srgb, var(--color-orange) 10%, transparent);
  --color-teal-bg: color-mix(in srgb, var(--color-teal) 10%, transparent);
  --color-blue-bg: color-mix(in srgb, var(--color-blue) 10%, transparent);
  
  --content-width: 80rem;
}

/* colors {#548feb;#ffb33d;#f37c14;#229fa3;}*/

/* || GENERAL */
html {
  font-family: "Hanken Grotesk", sans-serif;
  /* font-size: clamp(1rem, 0.8rem + 0.8vw, 1.5rem); */
  height: 100%;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  & > header,
  & > main,
  & > footer,
  & > h1 {
    padding-inline: 1.5rem;
  }

  & > main {
    padding-block: 2rem;
  }

  & > header + * {
    border-top: thin solid var(--color-teal);
  }

  & > h1 {
    margin: 0;
    padding-block: 15rem 2.5rem;
  }
}

menu {
  list-style-type: none;
  margin-block: 0;
  padding: 0;

  a {
    display: block;
  }
}

section > header {
  margin-block: 3rem;
  text-align: center;

  h1 {
    margin-block: 0;
    font-weight: normal;
  }
}

img,
picture,
video, svg {
  max-width: 100%;
  display: block;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

dd {
  margin-inline-start: 0;
}

.logo {
  display: block;
  height: 2.5rem;
}

#site-header, #site-footer {
  border-top: 6px solid;
  border-image: linear-gradient(
    to right,
    var(--color-red) 0 25%,
    var(--color-orange) 25% 50%,
    var(--color-teal) 50% 75%,
    var(--color-blue) 75% 100%
  ) 1;
}

/* || HEADER + NAVIGATION */
#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-block: 1.25rem;
}

#menu-toggle {
  & > input {
    display: none;
  }

  svg line {
    stroke: #000;
    stroke-width: 3;
    transition: transform 0.3s;
    transform-origin: center;
  }

  & > input:checked ~ svg .top {
    transform: rotate(45deg) translateY(10px);
  }

  & > input:checked ~ svg .mid {
    opacity: 0;
  }

  & > input:checked ~ svg .bot {
    transform: rotate(-45deg) translateY(-10px);
  }

  &:has(input:checked) ~ #nav-panel {
    height: 100vh;
  }
}

#nav-panel {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  background: var(--color-bg);
  transition: all 0.5s ease-out;
  z-index: 1;
  overflow-y: auto;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    padding: .5rem 1rem;
    color: var(--color-text);
  }
}

#site-nav {
  padding: 0 1rem;

  a {
    border-bottom: 1px solid var(--color-text);
  }
}

/* || Language Switcher */
#lang-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1.6px solid var(--color-teal);
  width: fit-content;
  padding: 0;
  margin-inline: auto;

  a {
    border-radius: 50px;
    color: var(--color-teal);
    font-weight: 700;
  }

  a.active, a:hover {
    background: var(--color-teal);
    color: var(--color-bg);
  }
}

/* || FOOTER */
#site-footer {
  padding-block-start: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-text);

  #footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .logo {
    height: 4rem;
  }

  #footer-socials {
    display: flex;
    gap: .75rem;
  
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: .75rem;
      color: var(--color-text-light);
      background: var(--color-bg-light);
    }
  
    a:hover {
      background: var(--color-teal);
    }

    svg {
      width: 2rem;
    }
  }
  
  #footer-links {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  
    h4 {
      margin: 0;
      font-weight: 600;
    }

    menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
    }

    a {
      background-color: var(--color-bg-light);
      box-sizing: border-box;
      height: 5rem;
      padding: 1rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: .5rem;
    }

    svg {
      height: 1.25rem;
    }
  }

  #footer-contacts {
    a {
      color: var(--color-text-light);
    }

    menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    li {
      display: flex;
      align-items: center;
      gap: .75rem;
    }

    li:nth-child(1) > svg {
      background-color: var(--color-teal-bg);
      color: var(--color-teal);
    }
    li:nth-child(2) > svg {
      background-color: var(--color-blue-bg);
      color: var(--color-blue);
    }
    li:nth-child(3) > svg {
      background-color: var(--color-red-bg);
      color: var(--color-red);
    }

    svg {
      height: 1rem;
      padding: .5rem;
      border-radius: .75rem;
    }
  }
  
  #footer-copyright {
    text-align: center;
    border-top: 1px solid var(--color-text-light);
    font-size: 0.5rem;
    color: var(--color-text-light);
    margin-block-end: 0;
  }
}

/* || HOME PAGE */
#home {
  line-height: 1.625;
  color: var(--color-text-light);

  p {
    margin-block: 0;
  }

  h1, dt {
    color: var(--color-text);
  }
}

#about {
  padding-block: 4rem;
  display: grid;
  gap: 1.5rem;

  #featured {
    text-align: center;
    color: var(--color-text);
    font-size: 1.375rem;
  }

  #hero {
    grid-row: 2;
    height: 25rem;
    object-fit: cover;
    border-radius: 1.25rem;
  }

  menu {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      display: block;
      padding: 1rem 2rem;
      text-decoration: none;
      border-radius: 2rem;
      border: 1.6px solid #E5E7EB;
      color: var(--color-text);
    }

    #cta {
      border-color: var(--color-red);
      background: linear-gradient(90deg, var(--color-red) 0%, rgba(255, 179, 61, 0.62) 100%);
      color: white;
    }
  }
}

#activities {
  .card {
    position: relative;
    background: var(--color-bg);
    overflow: hidden;

    .content {
      padding: 2rem;
    }

    dt {
      margin-block-end: 1rem;
      font-size: 1.5rem;
    }

    &:nth-child(1) > .icon {
      background-color: var(--color-red);
    }

    &:nth-child(2) > .icon {
      background-color: var(--color-teal);
    }

    &:nth-child(3) > .icon {
      background-color: var(--color-blue);
    }

    &:nth-child(4) > .icon {
      background-color: var(--color-orange);
    }
  }

  div.icon {
    display: block;
    width: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    color: var(--color-bg);
  }

  svg {
    display: block;
  }
}

#actions {
  a {
    text-decoration: none;
    background: var(--color-bg);
    border-radius: 12px;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    color: var(--color-text);
    box-shadow: 0 6px 18px rgba(15, 23, 42, 0.06);
    transition: transform 0.14s ease, box-shadow 0.14s ease;
    display: block;
    /* the boxes should be aligned, remove for baseline */
    box-sizing: border-box;
    height: 100%;
  }

  a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 26px rgba(15, 23, 42, 0.08);
  }
}

/* || Contact */
#contacts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-style: normal;
  /* if inside <address> */

  & > div {
    background: #f8f8f8;
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
    opacity: 0.85;
  }
}

/* || CARD GRID */
.card-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.card {
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
  /* padding: 1rem;  TODO*/
}

.card-title {
  color: var(--color-text);
}
#projects-title{
  background: linear-gradient(.25turn, var(--color-orange), 30%, var(--color-bg-light), 60%, var(--color-blue))
}

#projects {
  & > h1 {
    font-size: 3rem;
    padding: 15rem 0 2.5rem;
  }

  .card {
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: #EAEAEA;
  }

  .attributes {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .status {
    background-color: #B2B2B2;
    padding: .5rem 1.25rem;
    border-radius: 2.5rem;
  }
  .dates {
    flex: 1;
  }
  .card-title {
    flex: 1;
  }
}

#project {
  & > h1 {
    font-size: 3.5rem;
    font-weight: normal;
  }

  & > .attributes {
    padding: 2.5rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(34, 159, 163, 0.08) 0%, rgba(84, 143, 235, 0.08) 100%);

    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    gap: 2rem;

    dt {
      font-weight: 500;
      text-transform: uppercase;
      margin-block-end: .4rem;
    }

    .partner-logo {
      width: 10rem;
      height: auto;
      background-color: var(--color-bg);
    }
  }

  & > p {
    font-size: 1.125rem;
  }
}

/* || TEAM PAGE */
#team {
  display: grid;
  grid-template-columns: 1fr;
}

.member {
  text-align: center;
}

.member > img {
  width: 150px;
  height: 150px;
  border-radius: 40%;
  margin: 0 auto 1rem;
  object-fit: cover;
}

/* || Dynamic pages */

.gallery {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, 1fr);

  img {
    aspect-ratio: 3/2;
    object-fit: cover;
  }
}

#partners {
  img {
    width: 200px;
    height: auto;
    margin: 20px;
  }
}

/* || Utility */
.scroll-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;

  & > .card {
    scroll-snap-align: start;
  }
}

/* ============================================     Tablet (768px+)     ============================================ */
@media (min-width: 768px) {
  body > header,
  body > main,
  body > footer,
  body > h1  {
    padding-inline: max(1rem, calc(50% - var(--content-width) / 2));
  }

  #home {
    line-height: 2;
  }

  #about {
    padding-block: 7.5rem;
    gap: .5rem 5rem;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "featured image"
      "text image"  
      "links image";
    align-items: center;
  
    #hero {
      grid-area: image;
      height: 40rem;
    }

    p {
      font-size: 1.25rem;
    }

    #featured {
      text-align: revert;
      font-size: 2rem;
      line-height: initial;
    }

    menu {
      justify-content: start;
    }
  }

  #activities {
    dt {
      font-size: 2rem;
    }
  }

  #site-footer {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". logo links contact ."
      ". logo links contact ."
      ". copyright copyright copyright .";

    #footer-content{
      grid-area: logo;
    }
    
    #footer-links {
      grid-area: links;
    }

    #footer-contacts{
      grid-area: contact;
    }
    
    #footer-copyright {
      grid-area: copyright;
      text-align: revert;
    }
  }
  
  #contacts-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #projects .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ============================================     Desktop (1024px+)     ============================================ */
@media (min-width: 1024px) {
  .scroll-row {
    gap: 1rem 2rem; 
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;

    .card > img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
    }
  }

  #menu-toggle {
    display: none;
  }

  #nav-panel {
    position: revert;
    background: revert;
    height: revert;
    flex-direction: row;
    gap: 8.75rem;
  }

  #site-nav {
    padding: 0;
    display: flex;
    gap: .25rem;
    font-size: revert;

    li > menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 0px;
    }

    a {
      border: revert;
    }

    li:has(menu):hover > menu {
      display: block;
    }
  }

  .card-grid {
    gap: 1rem 2rem;
  }

  #events .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    margin-block: .5rem;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }
  /* Hover effect and space to hover. Grids have smaller gaps to accomodate. */
  }
}