{{ define "scripts" }}
<link rel="stylesheet" href="/photoswipe.css"/>
<script type="module">
  import PhotoSwipeLightbox from '/photoswipe-lightbox.esm.min.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#theory',
    children: 'a',
    pswpModule: () => import('/photoswipe.esm.min.js')
  });
  lightbox.init();
  </script>
  <script src='{{ (resources.Get "utility.js").Permalink }}'></script>
{{ end }}
{{ define "main" }}
<main id="about-us" class="page">
    <header class="intro">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </header>
    <section id="vision" class="split">
        <div>
            {{ with .Resources.Get "vision.md" }}
                {{ .Content }}
            {{ end }}
        </div>
        <img class="split-support" src='{{ (.Resources.Get "about.avif").RelPermalink }}'/>
    </section>
    <section id="story">
        {{ with .Resources.Get "story.md" }}
            {{ .Content }}
        {{ end }}
    </section>
    <section id="introduction">
        {{ with .Resources.Get "introduction.md" }}
            {{ .Content }}
        {{ end }}
    </section>
    <section id="theory">
        {{ with .Resources.Get "theory.md" }}
            {{ .Content }}
        {{ end }}
        {{ $image := .Resources.Get "theory-of-change.webp" }}
        <a href="{{ $image.Permalink }}"
        data-pswp-width="{{ $image.Width }}"
        data-pswp-height="{{ $image.Height }}">
          <img src="{{ $image.Permalink }}" alt='{{ i18n "theory" }}'>
        </a>
    </section>
    <section id="documents">
        {{ with .Resources.Get "documents.md" }}
            {{ .Content }}
        {{ end }}
    </section>
</main>
{{ end }}
