{{ define "main" }}
<main class="section">
    <header class="intro">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </header>
    {{ $keys := slice "PublicSector" "GrantPartners" "InternationalNetworks" }}
    {{ range $keys }}
    <h2 class="grid-header">{{ i18n . }}</h2>
    <ul class="entities partners-grid">
        {{ range where $.RegularPages "Params.category" . }}
        <li>{{ .Render (printf "view_%s" (singularize .Section )) }}</li>
        {{ end }}
    </ul>
    {{ end }}
</main>
{{ end }}
