{{ define "main" }}
<main id="home">
  <section id="about">
      {{- .Content -}}
      {{ with .Resources.Get "home.avif" }}
          <img id="hero" class="rounded" src='{{ .RelPermalink }}' alt="" fetchpriority="high"/>
      {{ end }}
  </section>
  <section id="activities">
    {{ with .Page.GetPage "/home-sections" }}
    <header>
      <h2>{{ .Title }}</h2>
      <p>{{ .Description }}</p>
    </header>
    {{ .Content }}
    {{ end }}
  </section>
  <section id="involvement">
    <header>
      <h2>{{ i18n "how_to_get_involved" }}</h2>
      <p>{{ i18n "how_to_get_involved_text" }}</p>
    </header>
    <div id="donate" class="card">
      {{- partial "inline-svg" "icons/heart" -}}
      <h3><a href='{{ partial "get-donate-link" . }}' target="_blank">
        {{ i18n "donate" }}</a></h3>
      <p>{{ i18n "donate_text" }}</p>
      <iframe src="{{ site.Params.donate_widget }}" width="360" height="480" title="Darujme widget"></iframe>
    </div>
    <ul class="cards">
      <li>
        {{- partial "inline-svg" "icons/mail" -}}
        <h3><a href='{{ .Site.Params.newsletter }}' target="_blank">
        {{ i18n "newsletter" }}</a></h3>
        <p>{{ i18n "newsletter_text" }}</p>
      </li>
      <li>
        {{- partial "inline-svg" "icons/calendar" -}}
        <h3><a href='{{ $.RelRef (dict "path" "/events") }}'>
          {{ i18n "join_events" }}</a></h3>
        <p>{{ i18n "join_events_text" }}</p>
      </li>
      <li>
        {{- partial "inline-svg" "icons/message-circle" -}}
        <h3><a href='{{ $.RelRef (dict "path" "/contact") }}'>
          {{ i18n "contact_us" }}</a></h3>
        <p>{{ i18n "contact_us_text" }}</p>
      </li>
    </ul>
  </section>
  <section id="stay-connected">
    <header>
      <h2>{{ i18n "stay_connected" }}</h2>
      <p>{{ i18n "stay_connected_text" }}</p>
    </header>
    <ul class="cards">
      <li>{{- partial "socials-card" "LinkedIn" -}}</li>
      <li>{{- partial "socials-card" "Facebook" -}}</li>
      <li>{{- partial "socials-card" "Instagram" -}}</li>
    </ul>
    <div id="socials-newsletter" class="card">
      <h3>{{ i18n "inv_newsletter_header" }}</h3>
      <p>{{ i18n "inv_newsletter_text" }}</p>
      <p class="button emphasized"><a href='{{ .Site.Params.newsletter }}' target="_blank">{{ i18n "inv_newsletter_action" }}</a></p>
    </div>
  </section>
</main>
{{ end }}
