{{ define "main" }}
<main id="home">
  {{ with .Page.GetPage "/home-sections" }}
    {{ $page := . }}
    {{ with .Resources.Get "about.md" }}
  <section id="about">
      {{ with $page.Resources.Get .Params.image }}
    <img src="{{ .RelPermalink }}"/>
      {{ end }}
    <div>
      {{ .Content }}
    </div>
  </section>
    {{ end }}
    {{ with .Resources.Match "activities/*" }}
  <section id="activities">
    {{ $page.Content }}
    <dl class="cards">
      {{ range . }}
      <div>
        {{ with $page.Resources.Get .Params.image }}
        <img src="{{ .RelPermalink }}"/>
        {{ end }}
        <dt>{{ .Title }}</dt>
        <dd>{{ .Content }}</dd>
      </div>
      {{ end }}
    </dl>
  </section>
    {{ end }}
  <section id="involvement">
    <h1>{{ i18n "how_to_get_involved" }}</h1>
      <nav id="actions" aria-label="Ways to get involved">
        <ul>
          <li id="donate">
            {{ $donation_link := "https://www.darujme.cz/projekt/1210263" }}
            {{ if eq .Language.Lang "en" }}
              {{ $donation_link = printf "%s?locale=en" $donation_link }}
            {{ end }}
            <a href='{{ $donation_link }}'>{{ i18n "donate" }}</a></li>
          <li><a href="https://2989c05a.sibforms.com/serve/MUIFALW0J6CnxbjAGy7C2dsOFYgIFoOzRy0yACp00IUtr70Zkc5QcABcb87f-bxzTIoxdqxt4-Mxjw30LvYM2g_miXoJJT8cilNA-eSpjz_8HMMEV2ewEaX53I_N6hsAwkrymSEXNrVOdls-n65l5_-0T7NNebwBF1aLKfwyNPvP497Ob1rtAzKJHpkgah4BaxxIIwKe-1GmeQ0a">
            {{ i18n "sign_up_newsletter" }}</a></li>
            <li><a href='{{ .RelRef (dict "path" "events-news") }}'>{{ i18n "participate_events" }}</a></li>
            <li><a href='{{ .RelRef (dict "path" "contact") }}'>{{ i18n "contact_us" }}</a></li>
          <li id="socials">{{ i18n "follow_socials" }}
            <ul>
              <li><a href="{{ .Site.Params.socials.facebook}}">Facebook</a></li>
              <li><a href="{{ .Site.Params.socials.instagram}}">Instagram</a></li>
              <li><a href="{{ .Site.Params.socials.linkedin}}">LinkedIn</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  </section>
  {{ end }} 
</main>
{{ end }}