{{ define "scripts" }}
<script src='{{ (resources.Get "utility.js").Permalink }}'></script>
{{ end }}
{{ define "main" }}
<main class="section">
    <h1 class="intro">{{ .Title }}</h1>
    {{ if eq .Section "projects" }}
    <ul id="{{ .Section }}" class="entities" data-archived='{{ i18n "finished" }}' data-active='{{ i18n "ongoing" }}'>
    {{ else if eq .Section "events" }}
    <ul id="{{ .Section }}" class="entities" data-archived='{{ i18n "past" }}' data-active='{{ i18n "upcoming" }}'>
    {{ else }}
    <ul id="{{ .Section }}" class="entities">
    {{ end }}

    {{ if or (eq .Section "events") (eq .Section "partners")}}
        {{ range (.Paginate .RegularPages).Pages }}
            <li>{{ .Render (printf "view_%s" (singularize .Section )) }}</li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
    {{ else }}
        {{ range .RegularPages }}
            <li>{{ .Render (printf "view_%s" (singularize .Section )) }}</li>
        {{ end }}
    </ul>
    {{ end }}
    {{ if eq .Section "team"}}
        <div class="content column">{{ .Content }}</div>
    {{ end }}
</main>
{{ end }}
{{ define "inline-scripts" }}
{{ if eq .Section "team"}}
<script>
    document.querySelector(".entities")?.addEventListener("click", (e) => {
        e.target.closest('article')?.classList.toggle('flipped');
    })
</script>
{{ else if or (eq .Section "projects") (eq .Section "events") }}
<script>window.updateGridStatusTag();</script>
{{ end }}
{{ end }}
