{{ define "main" }}
<main class="{{ .Kind }}">
    <h1 class="intro">{{ .Title }}</h1>
    <menu id="{{ .Section }}" class="card-grid">
        {{ range (.Paginate .RegularPages).Pages }}
            <li>{{ .Render (printf "view_%s" (singularize .Section )) }}</li>
        {{ end }}
    </menu>
    {{ partial "pagination.html" . }}
</main>
{{ end }}
{{ define "inline-scripts" }}
{{ if eq .Section "team"}}
<script>
    document.querySelector(".card-grid")?.addEventListener("click", (e) => {
        e.target.closest('.card')?.classList.toggle('flipped');
    })
</script>
{{ else if or (eq .Section "projects") (eq .Section "events") }}
    {{ partial "update-status" . }}
{{ end }}
{{ end }}