{{ define "scripts" }}
<script src='{{ (resources.Get "utility.js").Permalink }}'></script>
{{ end }}
{{ define "main" }}
<main class="{{ .Kind }}">
    <h1 class="intro">{{ .Title }}</h1>
    <menu id="{{ .Section }}" class="card-grid">
        {{ range (.Paginate .RegularPages).Pages }}
            <li>{{ .Render (printf "view_%s" (singularize .Section )) }}</li>
        {{ end }}
    </menu>
    {{ partial "pagination.html" . }}
</main>
{{ end }}
{{ define "inline-scripts" }}
{{ if eq .Section "team"}}
<script>
    document.querySelector(".card-grid")?.addEventListener("click", (e) => {
        e.target.closest('.card')?.classList.toggle('flipped');
    })
</script>
{{ else if eq .Section "projects" }}
    <script>
        const vals = {
            active: {{ i18n "ongoing" }},
            archived: {{ i18n "finished" }}
        };
        window.updateGridStatusTag(vals);
    </script>
{{ else if eq .Section "events" }}
    <script>
        const vals = {
            active: {{ i18n "upcoming" }},
            archived: {{ i18n "past" }}
        };
        window.updateGridStatusTag(vals);
    </script>
{{ end }}
{{ end }}