<article class="card">
  <header>
    <div class="date">{{ .Params.dtstart | dateFormat "2 Jan 2006" }}</div>
    <div class="time">{{ .Params.dtstart | dateFormat "15:04" }} - {{ time (printf "2006-01-02T%s" .Params.tend) | dateFormat "15:04" }}</div>
    <div class="status">Upcoming</div>
  </header>
  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  {{ .Summary }}
  <div class="logistics">
    <div class="location">{{ replaceRE `^.*,\s*\d\d\d\s+\d\d\s+` "" (default "TBA" .Params.location) }}</div>
    <div class="language">{{ default "EN" "" }}</div>
  </div>
  <footer>
    <a>Details</a>
    <a>Register</a>
  </footer>
</article>