{{ define "main" }}
<main id="join-us" class="page">
    <header class="intro">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </header>
    <section id="join-volunteer" class="split">
        <img class="split-support" src='{{ (.Resources.Get "join.avif").RelPermalink }}'/>
        {{ with .Resources.Get "volunteers.md" }}
        <div>
            {{ .Content }}
        </div>
        {{ end }}
    </section>
    <section id="join-events">
        {{ with .Resources.Get "events.md" }}
            {{ .Content }}
        {{ end }}
        {{ $events := (site.GetPage "events").RegularPages }}
        {{ with where $events "Params.dtstart" "ge" (now | dateFormat "2006-01-02") }}
        <ul class="entities">
            {{ range first 3 . }}
                <li>{{ .Render "view_event" }}</li>
            {{ end }}
        </ul>
        {{ end }}
    </section>
    <section id="join-partners" class="split">
        <div>
        {{ with .Resources.Get "partners.md" }}
            {{ .Content }}
        {{ end }}
        </div>
        {{ with .Resources.Get "partner-options.md" }}
            {{ .Content }}
        {{ end }}
    </section>
    <section id="join-donate">
        <div class="split card">
            <div>
            {{ with .Resources.Get "donate.md" }}
                {{ .Content }}
            {{ end }}
            </div>
            <iframe src="{{ site.Params.donate_widget }}" width="360" height="480"></iframe>
        </div>
    </section>
</main>
{{ end }}
