{{ define "main" }}
<main id="join-us">
    <section class="intro">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </section>
    <section id="join-volunteer">
        <img src='{{ (.Resources.Get "join.avif").RelPermalink }}'/>
        {{ with .Resources.Get "volunteers.md" }}
        <div class="content">{{ .Content }}
            <a class="button" href='{{ .Ref (dict "path" "contact") }}'>
                {{ i18n "contact" }}</a>
        </div>
        {{ end }}
    </section>
    <section id="join-events">
        {{ with .Resources.Get "events.md" }}
            {{ .Content }}
        {{ end }}
        {{ $events := (site.GetPage "events").RegularPages }}
        {{ with where $events ".Params.dtstart" "ge" now }}
        <menu class="card-grid">
            {{ range first 3 . }}
                <li>{{ .Render "view_event" }}</li>
            {{ end }}
        </menu>
        {{ end }}
    </section>
    <section id="join-partners">
    {{ with .Resources.Get "partners.md" }}
        {{ .Content }}
    {{ end }}
    </section>
    <section id="join-donate" class="card">
        <div class="content">
        {{ with .Resources.Get "donate.md" }}
            {{ .Content }}
        {{ end }}
        </div>
        <iframe src="{{ site.Params.donate_widget }}" width="360" height="480"></iframe>
    </section>
</main>
{{ end }}